body{
  display: block;
  position:absolute;
  height:auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
}

h1{
  font-size: 55px;
  /*color: #0097d4;*/
  margin: 35px;
}

h2{
  font-size: 20px;
}

#app{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

.app-col{
  width: 33%;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #212529;
  color: #d4d8dc;
  padding-top: 100px;
}

#content{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#game-board{
  display: flex;
  margin: 20px;
  justify-content: center;
}

.square{
  width: 75px;
  height: 75px;
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
}

.square.active{
  background-color: lightblue;
}

.square.incorrect{
  background-color: red;
}
